[submodule "third_party/connectedhomeip"]
	path = third_party/connectedhomeip
	url = https://github.com/project-chip/connectedhomeip/
[submodule "third_party/curl"]
	path = third_party/curl/repo
	url = https://github.com/curl/curl
[submodule "third_party/jthread"]
	path = third_party/jthread/repo
	url = https://github.com/josuttis/jthread
[submodule "third_party/mdns"]
	path = third_party/mdns/repo
	url = https://github.com/mjansson/mdns
