[submodule "third_party/connectedhomeip"]
	path = third_party/connectedhomeip
	url = https://github.com/project-chip/connectedhomeip/
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON
