services:
  wled-matter-bridge:
    image: wled-matter-bridge:0.0.1
    container_name: wled-matter-bridge
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./data:/var/chip
    environment:
      # Setup code used when provisioning a device
      # - WLED_SETUP_CODE=20202021
      # Prevent certain devices from being added via mDNS
      # - WLED_DENY_LIST="192.168.0.100,192.168.0.101"
      # Disable mDNS entirely, devices must be manually added
      # - WLED_DISABLE_MDNS=1
